<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <a href="/movies/new">Add a new Movie</a>
    <a href="/movies/">See all Movies</a>
  </nav>
  <body>